body {
  font-family: "Outfit", sans-serif;
  color: white;
  margin: 0px;
  padding: 0px;
  background-image: url("../img/bg.jpg");
}
* {
  color: white;
}
.tablet-container {
  display: none;
  text-align: center;
}
/* header  */
.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.first-header-cotainer {
  text-align: center;
}
.logo-img {
  height: 60px;
  margin-left: 10px;
  margin-top: 10px;
  filter: invert(100%);
}
.logo-heading {
  margin: 0px;
}
.second-header-cotainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 0px;
}
.navbar-icon {
  font-size: 18px;
  word-spacing: 4px;
  color: grey;
  text-decoration: none;
}
.navbar-icon:hover,
.navbar-icon:active {
  color: white;
}
.btn {
  cursor: pointer;
  color: white !important;
  border-radius: 4px;
  font-size: 14px;
}
.btn:hover {
  background-color: rgb(35, 35, 35) !important;
  border: 1px solid rgb(255, 255, 255) !important;
}
.btn.submit:hover {
  border: 1px solid rgb(255, 255, 255) !important;
}

/* main content    */
main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
}
.first-main {
  width: 40vw;
}
.second-main {
  border: 1px solid white;
  padding: 50px 30px;
  border-radius: 40px;
  width: 50vw;
}
input {
  color: black;
}

.left {
  display: inline-block;
  width: 20%;
  position: absolute;
  left: 20px;
  top: 20px;
}
.left img {
  display: block;
  width: 20%;
  margin: auto;
}
.left div {
  text-align: center;
}

.mid {
  display: block;
  width: 50%;
  margin: 32px auto;
}
.right {
  width: 20%;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 10px;
}
h2 {
  word-spacing: 8px;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  bottom: 25px;
  font-size: 25px;
}
div.form-group {
  display: block;
  margin: 2px;
  padding: 14px 30px;
  word-spacing: 7px;
  letter-spacing: 2px;
  border-radius: 40px;
}
div.form-group input {
  border: 1px solid white;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.btn.submit {
  margin-top: 15px;
  position: relative;
  left: 20px;
  border: 1px solid rgb(135, 135, 135) !important;
}

@media (width <= 1020px) {
  .first-main {
    display: none;
  }
  .second-main {
    width: 70vw;
  }
}
/* media queries  */
@media (width <= 767px) {
  .first-header-cotainer {
    display: none;
  }
  .second-header-cotainer {
    display: none;
  }
  .third-header-container {
    display: none;
  }
  #third-tablet-container {
    display: flex;
    flex-direction: row-reverse;
  }
  .tablet-container {
    display: inline-block;
  }
  .first-main {
    display: none;
  }
  .second-main {
    width: 90vw;
  }
}
@media (width <= 480px) {
  .tablet-first-header {
    margin-left: 10px;
  }
  .logo-heading, .logo-img {
    margin-left: 10px;
  }
}